# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
*.opendb
GitTest/.vs/GitTest/FileContentIndex/284af6d5-ed27-4334-975a-4d42e50d427a.vsidx
GitTest/.vs/GitTest/FileContentIndex/d000ff19-7964-4128-aa99-e2bdd4c3e804.vsidx
GitTest/.vs/GitTest/v17/.suo
GitTest/.vs/GitTest/v17/Browse.VC.db
GitTest/.vs/GitTest/v17/Browse.VC.db-shm
GitTest/.vs/GitTest/v17/Browse.VC.db-wal
